.item{
    
    justify-content: center;
}
.item_pic{
    float:left;
    width: 15%;
}
.item_description{
    float: left;
    width: 60%;
}
.item_form{
    display: flex;
    justify-content: center;
    float: left;
    width: 15%;
    input{
        width: 30px;
    }
}
img{
    width: 120px;
    
}